@charset "utf-8";
/* CSS Document */
.bg-image-wrapper {
  width: 700px;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.bg-image-wrapper.economy-tile {
  position: absolute;
  right: 0;
  top: 25%;
}
.bg-image-wrapper.foreignpolicy-tile {
  position: absolute;
  left: 100px;
  top: 0;
}
.bg-image-wrapper .bg-image {
  width: 250px;
  height: 100px;
  background-color: red;
  position: absolute;
  right: 0;
}
.bg-image-wrapper .bg-image.group-economy {
  width: 500px;
  height: 600px;
  background-repeat: repeat;
  opacity: 0.2;
}
.bg-image-wrapper .bg-image.group-economy:before {
  content: "";
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: white;
  top: -200px;
  left: -120px;
  transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
}
.bg-image-wrapper .bg-image.group-economy:after {
  content: "";
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: white;
  top: 420px;
  left: -150px;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}
.bg-image-wrapper .bg-image.group-foreignpolicy {
  width: 540px;
  height: 560px;
  background-repeat: repeat;
  opacity: 0.2;
}
.bg-image-wrapper .bg-image.group-foreignpolicy:before {
  content: "";
  position: absolute;
  width: 750px;
  height: 400px;
  background-color: white;
  top: 110px;
  left: -450px;
  transform: rotate(245deg);
  -moz-transform: rotate(245deg);
  -webkit-transform: rotate(245deg);
}
.bg-image-wrapper .bg-image.group-foreignpolicy:after {
  content: "";
  position: absolute;
  width: 750px;
  height: 400px;
  background-color: white;
  top: 110px;
  left: 230px;
  transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
}
